# Database
*.sqlite
*.db
dump*.sql

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Docker
.dockerignore
docker-compose.override.yml

# Logs
*.log

# cache
__pycache__/
*.pyc
*.pyo
*.pyd
